body {
  background: #fafafa;
}

nav {
  margin: 50px auto 0 auto;
  width: 600px;

  ul {
    padding: 10px;
  }

  li {
    display: inline;
    border-radius: 5px;
    background-color: #bc5f47;
    padding: 0.5em 1em;
    margin-right: 1em;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.hero-unit {
  margin: 0 auto;
  width: 600px;
  background-color: #f5f5ff;

  ul {
    padding: 10px;
  }

  div {
    padding: 1em;
  }
}

h1 {
  font-size: 24px;
}
